<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>3dModelsSTOCK</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'three_d_models_stock_app/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>Welcome To 3dModelsSTOCK!</h1>
		</header>
		<div class="right">
			<h3>Login</h3>
			<form action="/login" method="post">
				{% with messages = get_flashed_messages(category_filter=["email_sms"]) %}
					{% for message in messages %}
						<p style="color: red; font-size: 0.5em">{{message}}</p>
					{% endfor %}
				{% endwith %}
				{% with messages = get_flashed_messages(category_filter=["danger"]) %}
					{% for message in messages %}
						<p style="color: red; font-size: 0.5em">{{message}}</p>
					{% endfor %}
				{% endwith %}
				<p>Email:<br>
					<input class="form-control" type="email" name="email"></p>
				{% with messages = get_flashed_messages(category_filter=["password_sms"]) %}
					{% for message in messages %}
						<p style="color: red; font-size: 0.5em">{{message}}</p>
					{% endfor %}
				{% endwith %}
				<p>Password:<br>
					<input class="form-control" type="password" name="password">
				</p>
				<button class="btn btn-primary btn-lg btn-block" type="submit" 
				name="submit" value="LOGIN"></button>
			</form>
		</div>
	</div>
</body>
</html>