<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>3dModelsSTOCK</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'three_d_models_stock_app/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<h1>3DModelsSTOCK</h1>
			<div class="dropdown">
			  <button class="dropbtn">Categories</button>
			  <div class="dropdown-content">
			    <a href="#">Characters</a>
			    <a href="#">Vehicle</a>
			    <a href="#">Food</a>
			    <a href="#">Interior</a>
			  </div>
			</div>
			<div class="nav">
				<form class="search_bar">
					<input type="search" name="search" placeholder="search">
					<button>Go!</button>
				</form>
				<a href="/user_page">Home </a>|<a href="/logout" class="nav_link"> Logout</a>
			</div>
		</header>
		<div class="content_left">
			<h1>Let's Add New Model!</h1>
			<form action="/add_new_model" method="post">
				Model Name: 
				<br>
				<input class="form-control" type="text" name="title">
				Category:
				<br> 
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
				name="category" required="required">
					<option selected disabled="disabled">Select Category</option>
					<option value="Character">Character</option>
					<option value="Vehicle">Vehicle</option>
					<option value="Food">Food</option>
					<option value="Interior">Interior</option>
				</select>
				Format:
				<br> 
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
				name="format" required="required">
					<option selected disabled="disabled">Select Format</option>
					<option value="3ds">.3ds</option>
					<option value="max">.max</option>
				</select>
				Description:
				<br>
				<textarea class="form-control" type="text" name="description"></textarea>
				Tags:
				<textarea class="form-control" type="text" name="tag"></textarea>
				Upload Cover (.jpg):
				<br> 
				<input class="form-control" type="text" name="cover">
				Upload Model (.zip):
				<br> 
				<input class="form-control" type="text" name="link">
				<br>
				<button class="btn btn-primary btn-lg btn-block">SUBMIT</button>
			</form>
		</div>
	</div>
</body>
</html>