<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, 
	shrink-to-fit=no">
	<title>3dModelsSTOCK</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'three_d_models_stock_app/css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<a href="/session_home" class="logo">3DModelsSTOCK</a>
			<div class="nav">
				<form action="{% url 'search' %}" method="GET">
				    <input type="text" name="q" value="{{request.GET.q}}" 
				    placeholder="search..." />
				</form>
				<a href="/session_home">Home </a>|<a href="/logout" 
				class="nav_link"> Logout</a>
			</div>
		</header>
		<div class="content_left">
			{% for user in users %}
			<h1>Hello, {{user.first_name}}!</h1>
			<a href="/delete_user_profile/{{user.id}}" style="font-size: 0.8em">Delete Profile</a>
			<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
			<p>Email: {{user.email}}</p>
			<p>Created At: {{user.created_at}}</p>
			{% endfor %}
			{% for x in counts %}
			<p>Uploaded: {{x}}</p>
			<p>Downloaded: </p>
			{% endfor %}
		</div>
		<div class="content_right">
			<a href="#">
				<button class="color_btn btn btn-primary btn-lg btn-block" 
				onclick="showModalWin_4()">Edit profile</button>
			</a>
			<a href="#">
				<button class="color_btn btn btn-primary btn-lg btn-block" 
				onclick="showModalWin_3()">Add new model!</button>
			</a>
			<h3>Last Added Model In Stock:</h3>
			<div class="new_model_block">
				<form action="/model_page" method="POST">
					{% csrf_token %}
					<a href="#"><img src="{{MEDIA_URL}}{{show_news.cover}}"></a>
					<input type="hidden" name="title">
					<button type="submit">Download</button>
				</form>	
			</div>
		</div>
		<div class="content_bottom">
			<h3>Your models:</h3>
			<table class="table table-sm">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Rate</th>
						<th scope="col">Category</th>
						<th scope="col">Created At</th>
						<th scope="col">Updated At</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
			</table>
			<div class="activitis">
				<table class="table table-sm">
					<tbody>
						{% for model in models %}
						<tr>
							<td >{{model.title}}</td>
							<td >{{model.rate}}</td>
							<td >{{model.category}}</td>
							<td >{{model.created_at}}</td>
							<td >{{model.updated_at}}</td>
							<td>
								<a href="/delete/{{model.id}}">Delete &nbsp</a>|
								<a href="#" onclick="showModalWin_5()">&nbsp Edit</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>			
		</div>

<!-- UPLOAD NEW MODEL FORM -->

		<div style="text-align: center" id="popupWin_add_model" class="modalwin_register">
			<div class="add_new_model_wrapper">
				<h2 style="text-align: center;">Let's Add New Model!</h2>
				<form action="/add_new_model" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					Model Name: 
					<br>
					<input class="form-control" type="text" name="title">
					Category:
					<br> 
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
					name="category" required="required">
						<option selected disabled="disabled">Select Category</option>
						<option value="Character">Character</option>
						<option value="Vehicle">Vehicle</option>
						<option value="Food">Food</option>
						<option value="Interior">Interior</option>
					</select>
					Format:
					<br> 
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
					name="format" required="required">
						<option selected disabled="disabled">Select Format</option>
						<option value="3ds">.3ds</option>
						<option value="max">.max</option>
					</select>
					Description:
					<br>
					<textarea class="form-control" rows="1" type="text" 
					name="description"></textarea>
					Tags:
					<textarea class="form-control" rows="1" type="text" 
					name="tag"></textarea>
					Upload Cover (.jpg):
					<br> 
					<p><input type="file" accept="image/jpeg" name="cover" 
						size="40"></p>
					Upload Model (.zip):
					<br> 
					<p><input type="file" name="link" size="40"></p>
					<br>
					<button class="btn btn-primary btn-lg btn-block">SUBMIT</button>
				</form>
				<br>
				<a href="/user_page">
					<button class="btn btn-primary btn-lg btn-block">CANCEL</button>
				</a>
			</div>
		</div>

<!-- EDIT USER PROFILE FORM -->

		<div style="text-align: center" id="popupWin_edit_profile" class="modalwin_register"> 
			<div class="register">
				<div id="messages">
				   {% if messages %}
				   <ul class="messages">
					  {% for message in messages %}
					  <li class="{{ message.tags }}">{{ message }}</li>
					  {% endfor %}
				   </ul>
				   {% endif %}
				</div>
				<div id="registration-form">
					<div class='fieldset'>
						<legend>3DModelsSTOCK</legend>
						{% for user in users %}
						<form action="add_edit_user_page/{{user.id}}" method="post">
								{% csrf_token %}
						{% endfor %}
							<div class='row'>
								<label for='first_name'>First Name</label>
								<input type="text" placeholder="First Name" 
								name='first_name' id='first_name' data-required="true" 
								data-error-message="Your First Name is required">
							</div>
							<div class='row'>
								<label for='last_name'>Last Name</label>
								<input type="text" placeholder="Last Name" 
								name='last_name' id='last_name' data-required="true" 
								data-error-message="Your First Name is required">
							</div>
							<div class='row'>
								<label for="email">E-mail</label>
								<input type="text" placeholder="E-mail"  name='email' 
								data-required="true" data-type="email" 
								data-error-message="Your E-mail is required">
							</div>
							<input type="submit" value="Update!">
						</form>
					</div>
				</div>
			</div>
		</div>

<!-- EDIT MODEL FORM -->

		<div style="text-align: center" id="popupWin_updare_model" class="modalwin_register">
			<div class="add_new_model_wrapper">
				<h2 style="text-align: center;">Let's Edit Model!</h2>
				<form action="/add_update_model" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					Model Name: 
					<br>
					<input class="form-control" type="text" name="title">
					Category:
					<br> 
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
					name="category" required="required">
						<option selected disabled="disabled">Select Category</option>
						<option value="Character">Character</option>
						<option value="Vehicle">Vehicle</option>
						<option value="Food">Food</option>
						<option value="Interior">Interior</option>
					</select>
					Format:
					<br> 
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
					name="format" required="required">
						<option selected disabled="disabled">Select Format</option>
						<option value="3ds">.3ds</option>
						<option value="max">.max</option>
					</select>
					Description:
					<br>
					<textarea class="form-control" rows="1" type="text" 
					name="description"></textarea>
					Tags:
					<textarea class="form-control" rows="1" type="text" 
					name="tag"></textarea>
					Upload Cover (.jpg):
					<br> 
					<p><input type="file" accept="image/jpeg" name="cover" 
						size="40"></p>
					Upload Model (.zip):
					<br> 
					<p><input type="file" name="link" size="40"></p>
					<br>
					<button class="btn btn-primary btn-lg btn-block">SUBMIT</button>
				</form>
				<br>
				<a href="/user_page">
					<button class="btn btn-primary btn-lg btn-block">CANCEL</button>
				</a>
			</div>
		</div>
	</div>	

	<script type="text/javascript">
        function showModalWin_3() {

            var darkLayer = document.createElement('div'); // слой затемнения
            darkLayer.id = 'shadow'; // id чтобы подхватить стиль
            document.body.appendChild(darkLayer); // включаем затемнение

            var modalWin = document.getElementById('popupWin_add_model'); // находим наше "окно"
            modalWin.style.display = 'block'; // "включаем" его

            darkLayer.onclick = function () {  // при клике на слой затемнения все исчезнет
                darkLayer.parentNode.removeChild(darkLayer); // удаляем затемнение
                modalWin.style.display = 'none'; // делаем окно невидимым
                return false;
            };
        }

        function showModalWin_4() {

            var darkLayer = document.createElement('div'); // слой затемнения
            darkLayer.id = 'shadow'; // id чтобы подхватить стиль
            document.body.appendChild(darkLayer); // включаем затемнение

            var modalWin = document.getElementById('popupWin_edit_profile'); // находим наше "окно"
            modalWin.style.display = 'block'; // "включаем" его

            darkLayer.onclick = function () {  // при клике на слой затемнения все исчезнет
                darkLayer.parentNode.removeChild(darkLayer); // удаляем затемнение
                modalWin.style.display = 'none'; // делаем окно невидимым
                return false;
            };
        }

        function showModalWin_5() {

            var darkLayer = document.createElement('div'); // слой затемнения
            darkLayer.id = 'shadow'; // id чтобы подхватить стиль
            document.body.appendChild(darkLayer); // включаем затемнение

            var modalWin = document.getElementById('popupWin_updare_model'); // находим наше "окно"
            modalWin.style.display = 'block'; // "включаем" его

            darkLayer.onclick = function () {  // при клике на слой затемнения все исчезнет
                darkLayer.parentNode.removeChild(darkLayer); // удаляем затемнение
                modalWin.style.display = 'none'; // делаем окно невидимым
                return false;
            };
        }
    </script>
</body>
</html>