* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #8C807D;
}

h1 {
	color: #FF9688;
}

.header {
	width: 100%;
	height: 80px;
	background-color: #5C5A61;
}

.header h1 {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	font-size: 3em;
	margin: 10px 20px 0px 20px;
}

a.logo {
	width: 400px;
	color: #FF9688;
	display: inline-block;
	vertical-align: top;
	font-size: 3em;
	text-decoration: none;
	margin: 3px 21px 0px 20px;
}

.nav {
	color: #8C807D;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.nav form {
	display: inline-block;
	padding-right: 50px;
	margin-top: 0px;
	vertical-align: top;
}

.nav form input {
	width: 300px;
	height: 40px;
	padding-left: 20px;
	border: none;
}

.nav form button {
	width: 40px;
	height: 40px;
	border: none;
	color: #FF9688;
}

.nav:hover .search_btn {
	background-color: #B39488;
}

.nav a {
	color: #FF9688;
	display: inline-block;
	padding: 0px 5px 0px 5px;
	margin-top: 5px;
}

.block {
	width: 25%;
	height: 300px;
	overflow:hidden;
}

.block a {
	cursor: pointer;
}

.block img {
	max-height:auto;
  	width:auto;
}

.block_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.block_category {
	position: relative;	
	width: 25%;
	height: 300px;
	overflow:hidden;
}

.block_category img {
	max-height:auto;
  	width:auto;
}


.block_category form button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3.5em;
	text-shadow: 1px 2px 3px black;
	background-color: transparent;
	padding: 10px 20px 10px 20px;
}

.block_category:hover form button {
	color: #FF9688;
	cursor: pointer;
}

.new_model_block {
	position: relative;	
	width: 25%;
	height: 300px;
	overflow:hidden;
}

.new_model_block img {
	max-height:auto;
  	width:auto;
}


.new_model_block form button {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3.5em;
	text-shadow: 1px 2px 3px black;
	background-color: transparent;
	padding: 10px 20px 10px 20px;
}

.new_model_block:hover form button {
	color: #FF9688;
	cursor: pointer;
}

.content_left {
	display: inline-block;
	width: 31%;
	height: 300px;
	margin: 20px 0px 0px 20px;
}

.content_left_admin {
	display: inline-block;
	width: 31%;
	height: 130px;
	margin: 20px 0px 0px 20px;
}

.content_right {
	width: 25%;
	display: inline-block;
	float: right;
	margin-right: 20px;
}

.content_right h3 {
	margin: 30px 0px 30px 0px;
}

.content_right button {
	margin-top: 30px;
}

.new_model_block {
	width: 100%;
	height: 300px;
	overflow:hidden;	
}

.new_model_block a {
	cursor: pointer;
}

.new_model_block img {
	max-height:auto;
  	width:auto;
}

.content_bottom {
	width: 70%;
	margin-left: 20px;
}

.content_bottom_admin {
	width: 100%;
	margin-left: 20px;
}

.content_bottom h3 {
	margin-bottom: 20px;
}

.activitis {
	height: 120px;
	overflow: scroll;
}

.color {
	color: #FF9688;
}

.add_new_model_wrapper {
	background-color: white;
	width: 400px;
	padding: 20px;
	text-align: left;
	margin-top: 20px;
}

.color_btn {
	background-color: #FF9688;
	border: none;
}

.color_btn:hover {
	box-shadow: 0px 2px 5px black;
	background-color: #FF9688;
}

/*LOGIN & REGISTRATION FORMS*/

#registration-form {
	font-family:'Open Sans Condensed', sans-serif;
	width: 400px;
	min-width:250px;
	margin: 20px auto;
	position: relative;
}
  
#registration-form .fieldset {
	background-color:#d5d5d5;
	border-radius: 3px;
	
}

#registration-form legend {
	text-align: center;
	background: #5C5A61;
	width: 100%;
	padding: 10px 0;
	border-radius: 3px 3px 0 0;
	color: #FF9688;
	font-size:2em;
}
  
.fieldset form{
	margin:0 auto;
	display:block;
	width:100%;
	padding:30px 20px;
	box-sizing:border-box;
	border-radius:0 0 3px 3px;
}
.placeholder #registration-form label {
	display: none;
}
.no-placeholder #registration-form label{
	margin-left:5px;
	position:relative;
	display:block;
	color:grey;
	text-shadow:0 1px white;
	font-weight:bold;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#registration-form input[type=text] {
	padding: 15px 20px;
	border-radius: 1px;
	margin:5px auto;
	background-color:#f7f7f7;
	border: 1px solid silver;

	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition:background-color .5s ease;
	-moz-transition:background-color .5s ease;
	-o-transition:background-color .5s ease;
	-ms-transition:background-color .5s ease;
	transition:background-color .5s ease;
}
.no-placeholder #registration-form input[type=text] {
	padding: 10px 20px;
}

#registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus {
	outline: none;
	border-color: silver;
	background-color:white;
}
  
#registration-form input[type=submit] {
	font-family:'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
	outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #5C8CA7;
	padding: 10px;
	color: #FF9688;
	border: 1px solid #3498db;
	border-radius: 3px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 5px;
	cursor: pointer;
	position:relative;
	top:0;
}

#registration-form input[type=submit]:hover {
	background-color: #2980b9;
}

#registration-form input[type=submit]:active {
	background:#5C8CA7;
}
  

#registration-form select{
	width:100%;
	padding:5px;
}
::-moz-focus-inner {
	border: 0;
}

/*HOVER FOR INDEX*/

.block figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #FF9688;
    text-align: center;
    cursor: pointer;
}

.block figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.block figure figcaption {
    padding: 2em;
    color: #FF9688;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block figure figcaption::before,
.block figure figcaption::after {
    pointer-events: none;
}

.block figure p {
	margin: 0;
    letter-spacing: 1px;
    font-size: 68.5%;
    text-shadow: 1px 2px 3px black;
}

figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #FF9688;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-zoe p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe:hover p.description {
    opacity: 1;
}

figure.effect-zoe:hover figcaption {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*HOVER FOR CATEGORIES & SEARCH*/




/*MODAL WINDOW*/
.modalwin { 
    height: 200px;  
    width: 300px;
    top: 10%; /* отступ сверху */
    right: 0;
    left: 0; 
    margin: auto 35%;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
}

.modalwin_register { 
    height: 200px;  
    width: 300px;
    top: -30px; /* отступ сверху */
    right: 0;
    left: 0; 
    margin: auto 35%;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
}

.modalwin_model_info { 
    height: 500px;  
    width: 300px;
    top: -30px; /* отступ сверху */
    right: 0;
    left: 0; 
    margin: auto 35%;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
}

#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.5; /*прозрачность*/
    left:0;
    top:0;
}